extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='Title') Title:
      input#title.form-control(type='text' placeholder='Books Title' name='title' required='true' value=(undefined===bookrec ? '' : bookrec.title) )
      label(for='Rating') Rating:
      input#rating.form-control(type='text' placeholder='Give a rating 1-10' name='rating' required='true' value=(undefined===bookrec ? '' : bookrec.rating))
    div.form-group
      label(for='Summery') Summery:
      input#summery.form-control(type='text' placeholder='Enter a summery' name='summery' value=(undefined===bookrec ? '' : bookrec.summery) )
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg