extends layout

block content
  h1= title
  p Welcome to Avery's first express site. It may not look like much.
  p that is probably because it isnt much. Most of my hours of work have been behind the scenes.
  p I hope you enjoy your stay. 
