body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  
  padding: 1em;
}
h1{
  padding: 0 0 .5em 0;
}
p{
  font-size: 1.3em;
}

li{
  padding: .2em 0 .2em 0;
  font-size: 1.5em;
}